/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
 background-color: #fff1e0;
 font-family: BentonSans, Helvetica, Arial, sans-serif;
 font-size: 14px;
 line-height: 22px;
}

.main-container-wrapper {
  margin: 1.5em;
  max-width: 900px;
  min-width: 250px;
}

.lucypedia-page-header {
  margin: 25px 0 16px 0;
  border-top: solid 4px #a7a59b;
  border-bottom: 0px;
  position: relative;
  clear: both;
}

.lucypedia-page-header p {
  line-height: 35px;
  margin: 0 0 40px 0;
  padding-left: 5px;
  font-size: 16px;
  border-bottom: dotted 1px #a7a59b;
}

p#indignant-origami-font-override-1,
p#indignant-origami-font-override-2 {
  font-weight: bold;
  font-family: Arial;
  font-size: 18px;
}

.primary-tag a {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #e9decf;
  background-color: #f6e9d8;
  border-radius: 5%;
  text-decoration: none;
}

.primary-tag a:hover {
  background-color: #cec6b9;
}

.dear-lucy-headline {
  font-family: Arial;
  font-size: 16px;
}

.column-question-footer {
  border-top: dotted 1px #a7a59b;
  margin-bottom: 60px;
}

.lucy-answer-button {
  padding: 2px;
  color: #2e6e9e;
  font-weight: bold;

}

.publication-timestamp {
  float: right;
  font-size: 12px;
}

.lucys-answer {
  margin-top: -40px;
}



/* PRIMARY TAG COLOURS */

span.dark-blue a {
  color: #275e86;
}

span.orange a {
  color: #d66d06;
}

span.grey-tint3 a {
  color: #777777;
}

span.green-tint1 a {
  color: #a6a471;
}

span.bluegreen-tint1 a {
  color: #819e9a;
}

span.purple-tint1 a {
  color: #936971;
}

span.red-tint1 a {
  color: #b1493f;
}

span.blue-tint2 a {
  color: #75a5c2;
}

span.section-purple a {
  color: #92288f;
}

span.section-blue a {
  color: #0e6dcc;
}

/*STYLES FOR ADMIN USER ONLY*/

 .checkbox-list input[type="checkbox"] {
   display: block;
 }
